html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
a {
  position: inherit;
  text-align: center;
  text-decoration: none !important;
}

h1 {
  color: #0095f2;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
h3 {
  color: #0095f2;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 1rem;
  }
}

p {
  color: white;
  font-size: 1.2rem;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 40px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.fourth {
  border-color: #0095f2;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #0095f2 50%, transparent 50%);
  background-image: linear-gradient(45deg, #0095f2 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;

}
.fourth.back {

  border-color: #0095f2;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #0095f2 50%, transparent 50%);
  background-image: linear-gradient(45deg, #0095f2 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  href

}

.fifth {
  border-color: #0095f2;
  border-radius: 1px;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #0095f2;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}
.push-to-bottom {
  position: absolute;
  bottom: 10px;
  left: 42%;
}
#percentage {
  padding: 20px;
  text-align: center;
  color: #e74c3c;
}

#admin {
  border: 0px !important;
}

.card {
  background-color: #1c1e22;
}

#table {
   margin: auto;
   width: 50% !important;
}

#progress {
  padding: 0px;
  margin: 0px;
  height: 5px;
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
}

@keyframes animateBar {
  from { width: 0%; }
  to { width: var(--progress) }
}

#progress::after {
  content: '';
  display: block;
  width: var(--progress);
  height: 20px;
  background-color: #0095f2;
  animation-name: animateBar;
  animation-duration: 600ms;
}
